In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("input.csv")

In [3]:
# order by date without changing format of Date column
df['Date to sort'] =pd.to_datetime(df.Date)
df = df.sort_values('Date to sort')
del df['Date to sort']

In [4]:
#Price column, changes values of inf and 0 to NaN
x = df['Amount']/df['Shares']
x[np.isinf(x)] = np.nan
x[x == 0] = np.nan
df['Price'] = x

In [5]:
# create rules for transaction code column, add to dataframe
def transaction_code_column(row):
    if row['Amount'] != 0:
        if row['Shares'] > 0:
            return 'b'
        elif row['Shares'] < 0:
            return 's'
        else:
            if isinstance(row['Security ID'], str):
                return 'i'
            else:
                return 'c'
    elif row['Shares'] > 0 or row['Shares'] < 0:
        return 't'
    else:
        return ' '
    
df['Transaction Code'] = df.apply (lambda row: transaction_code_column (row),axis=1)

In [6]:
# order columns for output file:
output_df = df[["Security ID", "Transaction Code", "Shares", "Date", "Price", "Amount", "Transaction Description"]]

In [7]:
output_df.tail()

,Security ID,Transaction Code,Shares,Date,Price,Amount,Transaction Description
258,713448108,i,NaN,3/31/16,NaN,3863.75,CASH RECEIPT DIVIDEND EARNED ON PEPSICO INC $ ...
329,261908107,b,3863.75,3/31/16,-1,-3863.75,PURCHASED DREYFUS TREAS CASH MGMT INSTL SHARES
222,53015103,i,NaN,4/1/16,NaN,2650.00,CASH RECEIPT DIVIDEND EARNED ON AUTOMATIC DATA...
239,261908107,i,NaN,4/1/16,NaN,49.96,CASH RECEIPT INTEREST EARNED ON DREYFUS TREAS ...
330,261908107,b,2650.00,4/1/16,-1,-2650.00,PURCHASED DREYFUS TREAS CASH MGMT INSTL SHARES

In [8]:
# Save as 'output.csv'  pipe delimited
df.to_csv('output.csv',sep='|')